<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_4key_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,40},{88,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{88,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,94},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{86,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>button_4key_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,176},{76,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,176},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,94},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,94},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,176},{76,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,176},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_4key_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,94},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d068ac29bd7425ec1e0d4e6309c247bb$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
