<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{22,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,626}}</string>
                <key>sourceSize</key>
                <string>{22,626}</string>
            </dict>
            <key>b_sider.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{10,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,585}}</string>
                <key>sourceSize</key>
                <string>{10,585}</string>
            </dict>
            <key>panl_4k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{960,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,122}}</string>
                <key>sourceSize</key>
                <string>{960,122}</string>
            </dict>
            <key>panl_5k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{960,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,122}}</string>
                <key>sourceSize</key>
                <string>{960,122}</string>
            </dict>
            <key>panl_6k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{960,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,118}}</string>
                <key>sourceSize</key>
                <string>{960,122}</string>
            </dict>
            <key>panl_game960.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,525}}</string>
                <key>sourceSize</key>
                <string>{960,525}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>960_panle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8649c904fd08f30265f10453b9e695b5$</string>
            <key>textureFileName</key>
            <string>960_panle.png</string>
        </dict>
    </dict>
</plist>
