<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,640},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,638},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,576},{66,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,576},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,324},{42,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>all_combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,53},{320,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,46}}</string>
                <key>sourceSize</key>
                <string>{320,46}</string>
            </dict>
            <key>b_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,471},{11,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,340}}</string>
                <key>sourceSize</key>
                <string>{11,340}</string>
            </dict>
            <key>b_sider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{5,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,288}}</string>
                <key>sourceSize</key>
                <string>{5,288}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,324},{38,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,324},{38,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,324},{40,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>ding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,324},{43,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>ding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,992},{140,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,17}}</string>
                <key>sourceSize</key>
                <string>{140,19}</string>
            </dict>
            <key>jiezoudashilogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,445},{280,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,129}}</string>
                <key>sourceSize</key>
                <string>{280,129}</string>
            </dict>
            <key>jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{480,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,3}}</string>
                <key>sourceSize</key>
                <string>{480,3}</string>
            </dict>
            <key>key_button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,576},{398,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{398,68}}</string>
                <key>sourceSize</key>
                <string>{400,68}</string>
            </dict>
            <key>key_button_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,576},{398,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,68}}</string>
                <key>sourceSize</key>
                <string>{400,68}</string>
            </dict>
            <key>key_button_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,375},{398,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{398,68}}</string>
                <key>sourceSize</key>
                <string>{400,68}</string>
            </dict>
            <key>long_lr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,131},{1,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,24}}</string>
                <key>sourceSize</key>
                <string>{1,24}</string>
            </dict>
            <key>long_lr_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,105},{1,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,24}}</string>
                <key>sourceSize</key>
                <string>{1,24}</string>
            </dict>
            <key>long_ud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,79},{24,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,2}}</string>
                <key>sourceSize</key>
                <string>{24,2}</string>
            </dict>
            <key>long_ud_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,53},{24,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,2}}</string>
                <key>sourceSize</key>
                <string>{24,2}</string>
            </dict>
            <key>lr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>lr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1003},{20,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>lr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,1003},{21,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>lr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1003},{20,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>nandu.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,375},{230,89}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{230,89}}</string>
                <key>sourceSize</key>
                <string>{254,101}</string>
            </dict>
            <key>nandu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,484},{252,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,110}}</string>
                <key>sourceSize</key>
                <string>{258,110}</string>
            </dict>
            <key>panl_4k.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,484},{480,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>panl_5k.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,484},{480,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>panl_6k.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,484},{480,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,62}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>panl_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{480,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,256}}</string>
                <key>sourceSize</key>
                <string>{480,256}</string>
            </dict>
            <key>pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,992},{21,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{21,16}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>pause_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,445},{22,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>right_lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,324},{122,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,671},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,375},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{99,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,62}}</string>
                <key>sourceSize</key>
                <string>{99,62}</string>
            </dict>
            <key>s_bperfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,966},{138,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,28}}</string>
                <key>sourceSize</key>
                <string>{138,28}</string>
            </dict>
            <key>s_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,375},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>s_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,996},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>s_perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,996},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>score_lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,966},{176,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,24}}</string>
                <key>sourceSize</key>
                <string>{178,24}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,738},{224,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,88}}</string>
                <key>sourceSize</key>
                <string>{224,88}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,445},{224,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,88}}</string>
                <key>sourceSize</key>
                <string>{224,88}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,484},{480,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,60}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,375},{224,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,94}}</string>
                <key>sourceSize</key>
                <string>{224,94}</string>
            </dict>
            <key>z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,37},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{36,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{36,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,966},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{30,15}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>z_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>z_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,20},{50,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,15}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>zhuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,966},{35,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>zhuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,966},{35,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>zmax.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,966},{81,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,16}}</string>
                <key>sourceSize</key>
                <string>{81,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:491da327c6b37e393e25f27995079908$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
