<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,351},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,287},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,66},{66,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,195},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,202},{42,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,235},{38,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,195},{38,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,134},{40,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>ding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,327},{43,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>ding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,262},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,176},{140,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,17}}</string>
                <key>sourceSize</key>
                <string>{140,19}</string>
            </dict>
            <key>jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{480,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,3}}</string>
                <key>sourceSize</key>
                <string>{480,3}</string>
            </dict>
            <key>lr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,381},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>lr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,433},{20,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>lr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,408},{21,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>lr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,431},{20,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,415},{21,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{21,16}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>pause_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,357},{22,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,94},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{99,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,62}}</string>
                <key>sourceSize</key>
                <string>{99,62}</string>
            </dict>
            <key>s_bperfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,106},{138,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,28}}</string>
                <key>sourceSize</key>
                <string>{138,28}</string>
            </dict>
            <key>s_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,66},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>s_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,259},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>s_perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>score0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,459},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,415},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,479},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,453},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,479},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,453},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,479},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,453},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,479},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,453},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,415},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,176},{13,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,453},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,483},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>score_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,433},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>score_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,453},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,54},{21,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>score_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,80},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>score_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,28},{21,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>score_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,60}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,246},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,357},{36,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{36,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,433},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{30,15}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>z_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,292},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>z_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,310},{50,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,15}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>zhuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,403},{35,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>zhuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,373},{35,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>zmax.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,158},{81,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,16}}</string>
                <key>sourceSize</key>
                <string>{81,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>score.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:572f53a0558ea54b7489671b8e056932$</string>
            <key>textureFileName</key>
            <string>score.png</string>
        </dict>
    </dict>
</plist>
